{% extends 'base.html' %}
{% block page_header %}
  Select Progressive Test Option :
{% endblock %}

{% block main_content %}
  <div class="row row-cards">
    <div class="">
      <div class="card card-link card-link-pop border-round abs-card">
        <div class="card-stamp">
          <div class="card-stamp-icon bg-blue">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-file-text">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M14 3v4a1 1 0 0 0 1 1h4" />
              <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" />
              <path d="M9 9l1 0" />
              <path d="M9 13l6 0" />
              <path d="M9 17l6 0" />
            </svg>
          </div>
        </div>
        <a href="{% url 'progressive_score_one' %}" style="text-decoration: none; color:inherit;">
          <div class="card-body">
            <h3 class="card-title text-abs-red">Progressive Test One</h3>
            <p class="text-muted">Enter scores for progressive test one</p>
          </div>
        </a>
      </div>
    </div>

    <div class="mb-3">
      <div class="card card-link card-link-pop border-round abs-card">
        <div class="card-stamp">
          <div class="card-stamp-icon bg-blue">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-tools">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M3 21h4l13 -13a1.5 1.5 0 0 0 -4 -4l-13 13v4" />
              <path d="M14.5 5.5l4 4" />
              <path d="M12 8l-5 -5l-4 4l5 5" />
              <path d="M7 8l-1.5 1.5" />
              <path d="M16 12l5 5l-4 4l-5 -5" />
              <path d="M16 17l-1.5 1.5" />
            </svg>
          </div>
        </div>
        <a href="{% url 'progressive_score_two' %}" style="text-decoration: none; color:inherit;">
          <div class="card-body">
            <h3 class="card-title text-abs-red">Progressive Test Two</h3>
            <p class="text-muted">Enter scores for progressive test two</p>
          </div>
        </a>
      </div>
    </div>

  </div>
  <a href="{% url 'select_option' %}" class="btn btn-primary my-2"><< Back to Home</a>
{% endblock %}
